.top {
  width: 100%;
  //padding-top:110px;
  position: relative;
  //padding-bottom:150px;
  overflow: hidden;
  transform: translate3d(0,0,0);

  &:after {
    display: inline-block;
    content: '';
    position: absolute;
    width: 100%;
    height: 447px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }
  .wrap {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    //overflow: hidden;
  }
  .scroll-blocks {
    position: fixed;
    right: -140px;
    top: 0;
    width: 1030px;
    .col {
      margin-left: 20px;
      float: right;
      &.tt {
        position: relative;
        top:-80px;
      }
    }
    .item {
      background: #FFFFFF;
      box-shadow: 0px 15px 25px rgba(123, 150, 215, 0.1);
      border-radius: 10px;
      width: 280px;
      height:280px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      .icon {
        width: 110px;
        height:110px;
        border-radius: 100%;
        background-color: #F3F7F9;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .name {
        font-size: 14px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #92A9C5;
        margin-top: 40px;
      }
    }
  }
  .left {
    width: 100%;
    max-width: 560px;
    padding-top:90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .block-head {
      display: inline-block;
      width: 100%;
      font-weight: 600;
      font-size: 50px;
      line-height: 130%;
      color: #111820;
      margin-bottom:30px;
    }
    .info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top:106px;
      .item {
        max-width: 260px;
        width: 100%;
        margin-bottom: 30px;
        &.item1 {
          .head {
            &:before {
              background: linear-gradient(171.48deg, #309BBD -6.01%, #42CAA0 97.59%);
            }
          }
        }
        &.item2 {
          .head {
            &:before {
              background: linear-gradient(132.81deg, #5C7FD6 0.14%, #56A0E3 99.44%);
            }
          }
        }
        &.item3 {
          .head {
            &:before {
              background: linear-gradient(90.73deg, #E97307 13.93%, #FBBD0A 96.81%);
            }
          }
        }
        &.item4 {
          .head {
            &:before {
              background: linear-gradient(148.27deg, #9D46E1 1.46%, #CF5CC4 100%);
            }
          }
        }
        .head {
          display: inline-block;
          width: 100%;
          font-weight: 600;
          font-size: 20px;
          color: #111820;
          position: relative;
          box-sizing: border-box;
          padding-left:25px;
          margin-bottom: 12px;
          &:before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 9px;
          }
        }
        .desc {
          display: inline-block;
          width: 100%;
          font-size: 14px;
          line-height: 23px;
          color: #7A8898;
          margin: 0px;
        }
      }
    }
  }
}